<ion-view hide-nav-bar="true">
    <ion-content class="padding center">

        <div class="text-center">
            <img class="logo" src="/img/matchMaker.png" />
        </div>

        <br />
        <br />
        <br />

        <div class="text-center">
            <button class="button button-positive" ng-click="fbLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;
				{{ 'loginWithFacebook' | translate }}
            </button>
        </div>

        <br />
        <br />



    </ion-content>

</ion-view>
