<ion-content ng-show="selectedFriend.name !== undefined">
	<div class="list list-inset">
		<ion-item
				class="item-avatar item-remove-animate item-add-animate"
				on-swipe-left="deselectFriend()"
				on-swipe-right="deselectFriend()">

			<img ng-src="https://graph.facebook.com/{{ selectedFriend.id }}/picture?type=square"/>

			{{ selectedFriend.name }}

			<button class="button button-small"
			        ng-click="goBack()">
				{{ 'chooseNewFriend' | translate }}
			</button>
			<ion-option-button class="button-assertive icon ion-minus-circled"
			                   ng-click="deselectFriend()"></ion-option-button>
		</ion-item>

		<!--
		<ion-item ng-repeat="friend in targetFriends"
		          class="item-avatar item-remove-animate item-add-animate"
		          on-swipe-left="deselectTargetFriend(friend)"
		          on-swipe-right="deselectTargetFriend(friend)">

			<img ng-src="{{ friend.picture.data.url }}"/>

			{{ friend.name }}

			<button class="button button-small"
			        ng-click="deselectTargetFriend(friend)">
				{{ 'remove' | translate }}
			</button>

			<ion-option-button class="button-assertive icon ion-minus-circled"
			                   ng-click="deselectFriend(friend)"></ion-option-button>
		</ion-item>
	-->
	</div>

	<ion-list>
		<ion-item ng-repeat="friend in friends | withoutSelected:selectedFriend"
		          class="item-remove-animate"
		          on-swipe-right="selectTargetFriend(friend)"
		          on-swipe-left="selectTargetFriend(friend)"
				>
			<img ng-src="https://graph.facebook.com/{{ friend.id }}/picture?type=square"/>
			{{ friend.name }}
			<div class="button button-small"
			     ng-click="selectTargetFriend(friend)">
				{{ 'match' | translate }}
			</div>

			<ion-option-button class="button-balanced icon ion-plus-circled"></ion-option-button>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-item ng-repeat="friend in invitableFriends"
		          class="item-remove-animate"
		          on-swipe-right="selectTargetFriend(friend)"
		          on-swipe-left="selectTargetFriend(friend)"
				>
			<img ng-src="{{ friend.picture.data.url }}"/>
			{{ friend.name }}
			<div class="button button-small"
			     ng-click="selectTargetFriend(friend)">
				{{ 'match' | translate }}
			</div>

			<ion-option-button class="button-balanced icon ion-plus-circled"></ion-option-button>
		</ion-item>
	</ion-list>
</ion-content>