<ion-view view-title="{{ 'requests' | translate }}">

	<div ng-controller="RequestsCtrl">


		<ion-content>

			<ion-list>
				<div ng-repeat="request in requests"
				          class="item-remove-animate"
				          on-swipe-right="selectFriend(friend)"
				          on-swipe-left="selectFriend(friend)"
						>
					{{ request.from.name }}
					{{ request.data.suggestedId }}
					{{ request.data.dateSent }}
					{{ request.message }}


					<div class="button button-small"
					     ng-click="selectFriend(friend)">
					</div>

				</div>
			</ion-list>

		</ion-content>



	</div>

</ion-view>
